@import "../../global.scss";

.intro {
  display: flex;

  //   justify-content: center;
  //   align-items: center;
  //   background-color: red;
  background-image: url("../../../public/assets/images/baltos_006.png");
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;

  transition: all 0.1s linear;

  // height: 100vh;
  // background-color: white;
  // position: relative;
  // // top: 90px;
  // scroll-behavior: smooth;
  // scroll-snap-type: y mandatory;
  // scrollbar-width: none; //for firefox
  // &::-webkit-scrollbar {
  //   display: none; //for all other browsers
  // }

  // > * {
  //   // width: 100vw;
  //   // height: calc(100vh - 90px);
  //   height: 100vh;
  //   scroll-snap-align: start;
  // }

  @include mobile {
    background-image: url("../../../public/assets/images/Dauba 5.png");
  }
}
