@import "../../global.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap");

#vases {
  background-color: white;
}

.vases {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  background-color: white;
  position: relative;
  // top: 90px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar {
    display: none; //for all other browsers
  }

  > * {
    // width: 100vw;
    // height: calc(100vh - 90px);
    height: 100vh;
    scroll-snap-align: start;
  }

  .wrapper {
    width: 100vw;
    height: calc(100vh - 75px);
    position: absolute;
    top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    gap: 1em;

    @include mobile {
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 0em;
      height: calc(100vh - 75px);
    }

    // background-color: blue;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      min-width: 50%;
      overflow: hidden;
      position: relative;
      //   background-color: green;
      flex: 6;

      @include mobile {
        flex: 8;
        align-items: flex-end;
        height: calc(100vh - 75px);
        display: block;
      }

      .img-container {
        // overflow: hidden;
        // object-fit: cover;
        max-width: 460px;
        max-height: 460px;
        overflow: hidden;

        @include mobile {
          // max-width: 70%;
          // max-height: 100%;
        }

        img {
          object-fit: contain;
          max-width: 100%;
          display: block;
          margin: auto;
          height: auto;

          @include mobile {
            max-width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .right {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      flex: 6;
      width: 100%;

      // height: 100%;
      @include mobile {
        flex: 4;
        align-content: flex-end;
      }

      .text-container {
        height: 460px;
        width: 460px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        @include mobile {
          height: 100%;
          width: 100%;
          // margin: 0em 1em 1em 1em;
          align-items: center;
          justify-content: space-evenly;
        }

        // @include mobile {
        //   max-width: 90%;
        // }

        .title {
          // font-family: FogtwoN5;
          font-family: "Antic Didone", serif;
          color: #5a5a5a;
          overflow: hidden;
          font-size: 37px; //10mm
          font-weight: 100;
          line-height: 1.3em;

          @include mobile {
          }
        }

        // .title2 {
        //   font-family: "Antic Didone", serif;
        // }

        .subtitle {
          font-family: "Inria Serif", serif;
          font-size: 11px; //3mm
          color: #929292;
          text-align: left;
          white-space: pre-wrap;

          @include mobile {
            display: none;
          }
        }

        .vase-description {
          display: flex;
          flex-direction: column;
          font-family: "Inria Serif", serif;
          color: #5a5a5a;
          font-size: 13px; //4mm
          margin-top: 7em;

          @include mobile {
            display: none;
          }
        }

        .outline-image-wrapper {
          height: 100%;
          width: 100%;
          overflow: hidden;
          position: absolute;
          display: flex;
          align-items: flex-end;

          @include mobile {
            display: none;
          }

          img {
            max-width: 100%;
            object-fit: cover;

            @include mobile {
            }
            // min-width: 10%;

            // @include mobile {
            //   margin-top: 2.8em;
            // }
          }
        }
      }
    }
  }
}
