@import "../../global.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap");

#artworks {
  background-color: white;
}

.artworks {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;

    // background-color: blue;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: hidden;
      position: relative;
      //   background-color: green;
      flex: 6;

      .img-container {
        // overflow: hidden;
        // object-fit: cover;

        img {
          object-fit: cover;
        }
      }
    }

    .right {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      flex: 6;

      height: 100%;

      .title {
        // font-family: FogtwoN5;
        font-family: "Bodoni Moda", serif;
        overflow: hidden;
        font-size: 35px;
        font-weight: 100;
        line-height: 1.3em;
      }

      .text-container {
        height: 465px;
        width: 460px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .vase-description {
        display: flex;
        flex-direction: column;
        font-family: "Manrope", sans-serif;
      }
    }
  }
}
